body {
  background-image: url("./images/mountain.jpg");
    color: black;
    font-family: 'Indie Flower', cursive;
    font-weight: bold;
}

form{
          box-sizing: border-box;
          width: 100px;
}

input[type=submit], button.delete-btn, .delete-btn  {
  display: block;
  border-color: transparent;
  border-radius: 5px;
  background-color: #4D6F4A;
  padding: 4px 10px 6px;
  margin: 1em 0;
  color: white;
}

#activity-view {
  width: 150px;
  height: 150px;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  box-shadow: 1px 1px 1px 1px black;
}

#activities{
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  left: 25%;
  top: 0%;
}
